{% extends 'layout.html' %}

{% block content %}
{% parent %}

<div class="container-fluid">
    <div class="row bloque-chico color destino {{ tramo.destino.codigo }}">
        <div class="hidden-xs col-sm-6">
            <h2>Asientos para {{ pasaje.operador.nombre }}</h2>
            <p>De {{ tramo.origen.nombre }} a {{ tramo.destino.nombre }} ${{ pasaje.precio()|numeral }}
                <br /> {{ tramo.salida|date('Y-m-d',tramo.salida.getTimezoneOffset()) }}
                | {{ pasaje.salida|date('h:ia', pasaje.salida.getTimezoneOffset()) }}

                {% if pasaje.llegada %}
                    - {{ pasaje.llegada|date('h:ia', pasaje.llegada.getTimezoneOffset()) }}
                {% endif %}

                {% if pasaje.duracion() %}
                    {{ pasaje.duracion().horas|escape }}h
                        {% if pasaje.duracion().minutos %}
                            {{ pasaje.duracion().minutos|escape }}
                        {% endif %}
                {% endif %}
            </p>
        </div>
        <div class="col-sm-6">
            <h2>Para tener en cuenta</h2>
            <p> 
            <ul>
                <li>Seleccioná una asiento haciendo click</li>
                <li>Al seleccionar el asiento puede asignar el nombre del pasajero</li>
                <li>Cada silla tiene una tarifa asignada</li>
            </ul>
        </div>
    </div>
    <div class="row bloque-chico">
        <div class="col-sm-8 col-md-7 clearfix">
            <div id="asientos">
            {% for filas in asientos %}
            <div class="seccion">
                {% for asiento in filas %}
                    {{ asiento.toString() }}
                {% endfor %}
            </div>
            {% endfor %}
            </div>
        </div>
        <div class="col-sm-4 col-md-5 clearfix">
            <div class="table-responsive">
                <table id="pasajeros" class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="cargaPasajero" tabindex="-1" role="dialog" aria-labelledby="cargaPasajeroLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="cargaPasajeroLabel">Carga de pasajeros</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Pasajero</label>
                                <div class="input-group">
                                    <span id="cargaPasajeroAsiento" class="input-group-addon">01</span>
                                    <input type="text" id="cargaPasajeroNombre" placeholder="Nombre completo" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="numeroDocumento">Documento</label>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="cargaPasajeroTipoDocumento" class="btn btn-default dropdown-toggle" data-tipo-documento="C.C." data-toggle="dropdown">
                                            <span id="cargaPasajeroEtiquetaTipoDocumento">C.C.</span><span class="caret"></span>
                                        </button>
                                        <ul id="cargaPasajeroListaTipoDocumento" class="dropdown-menu" role="menu">
                                            <li><a href="#" data-tipo-documento="C.C.">C.C.</a></li>
                                            <li><a href="#" data-tipo-documento="Pasaporte">Pasaporte</a></li>
                                        </ul>
                                    </div>
                                    <input type="text" id="cargaPasajeroNumeroDocumento" placeholder="Numero" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button type="button" id="cargaPasajeroAgregar" class="btn btn-primary">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <button id="comprar" type="submit" class="btn btn-primary pull-right">Comprar</button>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<!-- build:js /scripts/asientos.js -->
<script type="text/javascript" src="/scripts/polyfills.js"></script>
<script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/ga.js"></script>
<script type="text/javascript" src="/scripts/asientos.js"></script>
<!-- endbuild -->
{% endblock %}
