<!DOCTYPE html>
<html lang="es">
<head>
    {% block head %}
    {% endblock %}
    <link rel="icon" type="image/png" href="/images/logos/icono.png" />
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="buseando">
    <meta name="keywords" content="buscar,comprar,pasajes,bus,barato,Bolivariano,Brasilia,Copetran,destinos,Colombia,Bogotá,Cali,Medellín,Barranquilla,Santa Marta,Cartagena">
    <meta property="og:site_name" content="buseando">
    <meta property="og:type" content="website">
    <meta name="google-site-verification" content="VGB8eViKgjJoSpYl5K-r2Hd2wqZNhnK7cRLFoOsXmjs" />
    <!-- build:css /styles/root.css -->
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-datepicker/css/datepicker3.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/bower_components/fontello/css/fontello.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/styles/lib/jquery-ui.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/styles/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/styles/destinos.css" media="screen" />
    <!-- endbuild -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
    <body>
    {% block navbar %}
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-menu"></span>
                </button>-->
                <a class="navbar-brand" href="/"><img src="/images/logos/logo.png" alt="Buseando"/></a>
            </div>
            <!--<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">Nosotros</a></li>
                    <li><a href="#contact">Contactenos</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Login</a>
                    </li>
                </ul>
            </div>-->
        </div>
    </div>
    {% endblock %}

    {% block content %}{% endblock %}

    {% block script %}{% endblock %}

    <hr>
    <footer><p>© <a href="http://buseando.com">Buseando</a> 2014</p></footer>
    </body>
</html>