{% macro mensajeOperador() %}
    {% if contexto.operador %}
        {{ [' con ', contexto.operador|title]|join('') }}
    {% endif %}
{% endmacro %}

{% extends 'layout.html' %}
{% block content %}
{% parent %}
<div class="container-fluid">
    <div class="row bloque color destino {{ tramo.destino.codigo }}">
        <div class="hidden-xs col-sm-6">
            <h2>Pasajes de bus a {{ tramo.destino.nombre }} {{ mensajeOperador() }}</h2>
            <p>Desde {{ tramo.origen.nombre }} el {{ tramo.salida|date('Y-m-d',tramo.salida.getTimezoneOffset()) }}
                {% if resumen %}
                <br /> Precios desde ${{ resumen.precio.min|numeral }} hasta ${{ resumen.precio.max|numeral }}
                    {% if resumen.duracion.min %}
                    <br /> Con duración de {{ resumen.duracion.min.horas }}h
                    {% if resumen.duracion.min.minutos %} {{ resumen.duracion.min.minutos }}min {% endif %}
                    {% endif %}
                {% endif %}
            </p>
        </div>
        <div class="col-sm-6">
            {% include "./partial/busqueda.html" %}
        </div>
    </div>
    <div class="row bloque-chico">
        {% if pasajes.length > 0 %}
        <div class="col-sm-3 col-md-3 col-lg-2 hidden-xs">
            {% include "./partial/filtroPasajes.html" %}
        </div>
        <div class="col-sm-9 col-md-7">
            {% include "./partial/listarPasajes.html" %}
        </div>
        <div class="col-md-2 col-lg-3 hidden-xs hidden-sm">
        {% else %}
        <div class="col-sm-9">
            {% include "./partial/sinPasajes.html" %}
        </div>
        <div class="col-sm-3">
        {% endif %}
            <ul id="sugerencias" class="nav nav-sidebar">
                <li class="active"><a href="#">Sugerencias</a></li>
                {% for sugerencia in sugerencias %}
                <li><a href="http://buseando.com/pasajes/{{ sugerencia.origen.codigo }}/{{ sugerencia.destino.codigo }}/{{ sugerencia.salida|date('Y-m-d', sugerencia.salida.getTimezoneOffset()) }}"
                    class="the-icons icon-right-open"> Pasajes de bus a {{ sugerencia.destino.nombre }} </a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<!-- build:js /scripts/pasajes.js -->
<script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower_components/typeahead.js/dist/typeahead.bundle.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js"></script>
<script type="text/javascript" src="/bower_components/list.js/dist/list.js"></script>
<script type="text/javascript" src="/scripts/lib/spin.min.js"></script>
<script type="text/javascript" src="/scripts/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="/scripts/root.js"></script>
<script type="text/javascript" src="/scripts/pasajes.js"></script>
<script type="text/javascript" src="/scripts/filtro.js"></script>
<script type="text/javascript" src="/scripts/ga.js"></script>
<!-- endbuild -->
{% endblock %}
{% block head %}
{% if resumen %}
    {% set mensajePrecio = [' por $', resumen.precio.min|numeral ]|join('') %}

    {% if resumen.duracion.min %}
        {% set mensajeDuracionHoras = [ 'También hay viajes que duran ',  resumen.duracion.min.horas, 'h' ]|join('') %}

        {% if resumen.duracion.min.minutos %}
            {% set mensajeDuracionMinutos = [ ' ', resumen.duracion.min.minutos, 'm' ]|join('') %}
        {% endif %}
    {% endif %}
{% endif %}

{% set url = [ 'http://buseando.com/pasajes/', tramo.origen.codigo, '/', tramo.destino.codigo ]|join('') %}
{% set title = [ 'Buseando - Pasajes de bus  a ', tramo.destino.nombre, ' desde ', tramo.origen.nombre,
    mensajeOperador(), mensajePrecio ]|join('') %}

{% set description = [ 'Viaja a ', tramo.destino.nombre, mensajeOperador(), mensajePrecio, ' y ahorra en tu compra. ', mensajeDuracionHoras,
    mensajeDuracionMinutos, '. Con Buseando tu elijes si prefieres mejor comodidad o menor precio' ]|join('') %}

<title>{{ title }}</title>
<meta property="og:title" content="{{ title }}">
<meta name="description" content="{{ description }}">
<meta property="og:description" content="{{ description }}">
<link rel="canonical" href="{{ url }}">
<meta property="og:url" content="{{ url }}">
<meta property="og:image" content="/images/destinos/colombia1024x250.jpg">
{% endblock %}