{% extends 'layout.html' %}

{% block content %}
{% parent %}
<div class="container">
    <div class="page-header">
        <h1>Quienes Somos</h1>
        <h2>Nossa missão é tornar mais fácil a consulta e compra de passagens rodoviárias para todo Brasil</h2>
    </div>
    <p>Nosso portal respeita todos os padrões de segurança amparados pelo principal órgão certificador do mercado, oferecendo navegabilidade segura para compra das passagens. Com objetivo de proporcionar o máximo de conforto aos nossos clientes.</p>
</div>{% endblock %}

{% block script %}
<!-- build:js /scripts/quienes-somos.js -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/scripts/ga.js"></script>
<!-- endbuild -->
{% endblock %}