{% extends 'layout.html' %}

{% block content %}
{% parent %}
<div class="container-fluid">
    <div class="row bloque color destino {{ sugerencia.destino.codigo }}">
        <div class="col-sm-6 col-sm-push-6">
            {% include "./partial/busqueda.html" %}
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <h1>Pasajes de bus barato con Buseando</h1>
            <p>Buscar y comprar tus pasajes de bus nunca fue tan fácil. Encuentra pasajes de bus baratos a <strong>{{ sugerencia.destino.nombre }}</strong>
                <a id="buscarSugerencia" href="/pasajes/{{ sugerencia.origen.codigo }}/{{ sugerencia.destino.codigo }}/{{ sugerencia.salida|date('Y-m-d', sugerencia.salida.getTimezoneOffset()) }}"
                   data-contexto="{{ contexto|json_encode }}" class="btn btn-primary btn-sm"
                   data-loading-text="Buscando..." role="button">Buscar</a>
            </p>
        </div>
    </div>
    <div class="row bloque text-center">
        <h2>Quedate con Buseando, hay razones!</h2>
        <div class="col-sm-4">
            <span class="the-icons icon-road icon-grande"></span>
            <h3>Variedad de Empresas</h3>
            <p>Contamos con una variedad de empresas de transporte en Colombia, para darte mas opciones a la hora de buscar y comprar. En Buseando seguimos trabajando para incorporar mas :)</p>
        </div>
        <div class="col-sm-4">
            <span class="the-icons icon-mobile icon-grande"></span>
            <h3>Visible en Móviles</h3>
            <p>La aplicación de Buseando se ajusta a los diferentes dispositivos. De esta forma buscamos darte la mejor experiencia, para que navegues con facilidad desde tus dispositivos móviles</p>
        </div>
        <div class="col-sm-4">
            <span class="the-icons icon-heart icon-grande"></span>
            <h3>Simple de Usar</h3>
            <p>En Buseando sabemos que simple es mejor que difícil. Por eso trabajamos para hacerte la vida mas simple a la hora de buscar tus pasajes de bus. Ya no tienes que buscar en otro lugar</p>
        </div>
    </div>
    <div class="row bloque color text-center">
        <h2>Pasajes de bus para las diferentes empresas</h2>
        <div class="col-xs-12">
            <p>Contamos con una amplia gama empresas de transporte</p>
        </div>
        <div class="col-sm-4 elemento">
            <img src="images/empresas/bolivariano.png" alt="Bolivariano" />
        </div>
        <div class="col-sm-4 elemento">
            <img src="images/empresas/brasilia.png" alt="Brasilia" />
        </div>
        <div class="col-sm-4 elemento">
            <img src="images/empresas/copetran.png" alt="Copetran" />
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript"> (window.pasajes = window.pasajes ? window.pasajes : {}).contexto = {{ contexto|raw|json_encode }} </script>
<!-- build:js /scripts/root.js -->
<script src="/bower_components/jquery/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/typeahead.js/dist/typeahead.bundle.js"></script>
<script src="/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js"></script>
<script src="/scripts/lib/spin.min.js"></script>
<script src="/scripts/root.js"></script>
<script src="/scripts/ga.js"></script>
<!-- endbuild -->
{% endblock %}

{% block head %}
<title>Busca y compra pasajes de bus baratos y viaja con Buseando</title>
<meta property="og:title" content="Busca y compra pasajes de bus baratos y viaja con Buseando">
<meta name="description" content="Buscar y comprar tus pasajes de bus nunca fue tan fácil. Con Buseando ahorra en tu compra por Internet y viaja a los prinsipales destinos de Colombia">
<meta property="og:description" content="Buscar y comprar tus pasajes de bus nunca fue tan fácil. Con Buseando ahorra en tu compra por Internet y viaja a los prinsipales destinos de Colombia">
<link rel="canonical" href="http://buseando.com/">
<meta property="og:url" content="http://buseando.com/">
<meta property="og:image" content="/images/destinos/colombia1024x250.jpg">
{% endblock %}