<div id="menu_orden" class="btn-group btn-group-justified text-center">
    <div class="btn-group">
        <button class="sort btn btn-success icon-ok" role="button" data-sort="calidad">
            <span class="hidden-xs">Calidad</span>
        </button>
    </div>
    <div class="btn-group">
        <button type="button" class="sort btn btn-success icon-tags" role="button" data-sort="oferta">
            <span class="hidden-xs">Oferta</span>
        </button>
    </div>
    <div class="btn-group">
        <button class="sort btn btn-info icon-bus" role="button" data-sort="operador">
            <span class="hidden-xs">Empresa</span>
        </button>
    </div>
    <div class="btn-group">
        <button class="sort btn btn-info icon-logout" role="button" data-sort="salida">
            <span class="hidden-xs">Salida</span>
        </button>
    </div>
    <div class="btn-group">
        <button class="sort btn btn-info icon-login" role="button" data-sort="llegada">
            <span class="hidden-xs">Llegada</span>
        </button>
    </div>
    <div class="btn-group">
        <button class="sort btn btn-info icon-clock-1" role="button" data-sort="duracion">
            <span class="hidden-xs">Duración</span>
        </button>
    </div>
    <div class="btn-group">
        <button class="sort btn btn-info icon-ticket-1" role="button" data-sort="sillas">
            <span class="hidden-xs">Cantidad</span>
        </button>
    </div>
    <div class="btn-group">
        <button class="sort btn btn-info icon-dollar" role="button" data-sort="precio">
            <span class="hidden-xs">Precio</span>
        </button>
    </div>
</div>