<form id="busqueda" action="/pasajes" method="get" role="form" class="form-horizontal" autocomplete="off">
    <div class="form-group">
        <input id="origen" name="origen" type="hidden"
               value="{% if tramo %}{{tramo.origen.codigo}}{% endif %}" />
        <label for="txtOrigen" class="col-xs-3 col-sm-2 control-label text-right">Origen</label>
        <div class="col-xs-9 col-sm-10">
            <input id="txtOrigen" class="form-control typeahead" placeholder="Ciudad origen" type="text"
                   value="{% if tramo %}{{tramo.origen.completo}}{% endif %}" />
        </div>
    </div>
    <div class="form-group">
        <input id="destino" name="destino" type="hidden"
               value="{% if tramo %}{{tramo.destino.codigo}}{% endif %}" />
        <label for="txtDestino" class="col-xs-3 col-sm-2 control-label text-right">Destino</label>
        <div class="col-xs-9 col-sm-10">
            <input id="txtDestino" class="form-control typeahead" placeholder="Ciudad destino" type="text"
                   value="{% if tramo %}{{tramo.destino.completo}}{% endif %}" />
        </div>
    </div>
    <div class="form-group">
        <label for="salida" class="col-xs-3 col-sm-2 control-label text-right">Salida</label>
        <div class="col-xs-9 col-sm-10">
            <input id="salida" name="salida" class="form-control" placeholder="Fecha de viaje" type="text"
                   value="{% if tramo %}{{tramo.salida|date('Y-m-d', tramo.salida.getTimezoneOffset())}}{% endif %}" />
            <button id="buscar" type="submit" class="btn btn-primary btn-sm" data-loading-text="Buscando...">Buscar</button>
        </div>
    </div>
</form>
{% include "./spinner.html" %}