<div id="filtro" data-resumen="{{ resumen|json_encode }}">
    <div class="panel panel-primary">
        <div class="panel-heading">Filtros</div>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Empresas</strong>
                <div id="filtroOperadores">
                    {% for operador in resumen.operadores %}
                    <div class="checkbox">
                        <label>
                            {% if !contexto.operador || contexto.operador === operador|lower %}
                            <input type="checkbox" checked="checked" value="{{ operador }}">
                            {% else %}
                            <input type="checkbox" value="{{ operador }}">
                            {% endif %}
                            {{ operador }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </li>
            <li class="list-group-item">
                <strong>Precio</strong>
                <span id="filtroPrecioValor" class="pull-right">
                    {{ resumen.precio.min|numeral }} - {{ resumen.precio.max|numeral }}</span>
                <div id="filtroPrecio" class="clearfix"></div>
            </li>
            <li class="list-group-item">
                <strong>Salida</strong>
                <span id="filtroSalidaRango" class="pull-right">1AM - 12PM</span>
                <div id="filtroSalida" class="clearfix"></div>
            </li>
            {% if resumen.duracion.min %}
            <li class="list-group-item">
                <strong>Duración</strong>
                <div class="pull-right">
                    <span id="filtroDuracionValor">{{ Math.floor(resumen.duracion.max.total) }}</span>h</div>
                <div id="filtroDuracion" class="clearfix"></div>
            </li>
            {% endif %}
            {% if resumen.sillas.min %}
            <li class="list-group-item">
                <strong>Cantidad</strong>
                <span id="filtroSillasValor" class="pull-right">{{ resumen.sillas.max }}</span>
                <div id="filtroSillas" class="clearfix"></div>
            </li>
            {% endif %}
        </ul>
    </div>
</div>