<div id="pasajes">
    {% include "./barraOrdenamiento.html" %}
    <ul id="lista-pasajes" class="list-unstyled list">
        {% for pasaje in pasajes %}
        <li class="row pasaje">
            <div class="col-xs-8 col-sm-4">
                <span class="operador">{{ pasaje.operador.nombre }}</span>
                {% if pasaje.servicio.nombre %}<small>- {{ pasaje.servicio.nombre }}</small> {% endif %}
            </div>
            <div class="col-xs-4 col-sm-2 col-sm-push-6">
                <a class="pull-right btn btn-primary btn-sm" role="button">
                    <strong>${{ pasaje.precio()|numeral }}</strong>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-2">
                <div class="pull-left">
                            <span class="the-icons">
                                <span class="icon-logout">{{ pasaje.salida|date('h:ia', pasaje.salida.getTimezoneOffset()) }}</span>
                            </span>
                    {% if pasaje.llegada %}
                            <span class="the-icons">
                                <span class="icon-login">{{ pasaje.llegada|date('h:ia', pasaje.llegada.getTimezoneOffset()) }}</span>
                            </span>
                    {% endif %}

                    {% set duracion = pasaje.duracion() %}
                    {% if duracion %}
                        <span class="the-icons">
                            <span class="icon-clock-1">{{ duracion.horas }}h
                                {% if duracion.minutos %}
                                    {{ duracion.minutos }}
                                {% endif %}
                            </span>
                        </span>
                    <span class="duracion hidden">{{ duracion.total }}</span>
                    <span class="duracionFiltro hidden">{{ Math.floor(duracion.total) }}</span>
                    {% endif %}
                </div>
                {% if pasaje.sillas %}
                            <span class="the-icons pull-right">
                                <span class="sillas icon-ticket-1">{{ pasaje.sillas }}</span>
                            </span>
                {% endif %}
            </div>
            <span class="salida hidden">{{ pasaje.salida|date('Hi', pasaje.salida.getTimezoneOffset()) }}</span>
            <span class="llegada hidden">{{ pasaje.llegada|date('Hi', pasaje.llegada.getTimezoneOffset()) }}</span>
            <span class="precio hidden">{{ pasaje.precio() }}</span>
            <span class="calidad hidden">{{ pasaje.calidad()|escape }}</span>
            <span class="oferta hidden">{{ pasaje.oferta()|escape }}</span>
        </li>
        {% endfor %}
    </ul>
</div>