<div class="media alert alert-warning">
    <span class="pull-left">
        <span class="icon-emo-unhappy icon-alert"></span>
    </span>
    <div class="media-body">
        <h4 class="media-heading">Lastima</h4>
        No se encontraron pasajes para la consulta.
        <br /> Prueba con otra fecha u otro destino.
    </div>
</div>