.barranquilla { background-image: url("/images/destinos/barranquilla1024x250.jpg");}
.bogota { background-image: url("/images/destinos/bogota1024x250.jpg");}
.bucaramanga { background-image: url("/images/destinos/bucaramanga1024x250.jpg");}
.cali { background-image: url("/images/destinos/cali1024x250.jpg");}
.cartagena { background-image: url("/images/destinos/cartagena1024x250.jpg");}
.medellin { background-image: url("/images/destinos/medellin1024x250.jpg");}
.monteria { background-image: url("/images/destinos/monteria1024x250.jpg");}
.pereira { background-image: url("/images/destinos/pereira1024x250.jpg");}
.santa_marta { background-image: url("/images/destinos/santa_marta1024x250.jpg");}
.tolu { background-image: url("/images/destinos/tolu1024x250.jpg");}
.valledupar { background-image: url("/images/destinos/valledupar1024x250.jpg");}