@charset "UTF-8;";

/* Bootstrap */
h1, h2, h3 { margin-top: 0; margin-bottom: 10px; }

.form-group { margin-bottom: 5px; }
.navbar { margin-bottom: 0; }
.navbar-brand { padding-top: 5px; padding-bottom: 5px; }
.navbar-toggle { margin-top: 2px; margin-bottom: 5px; }

.has-error .control-label{ color: #E74C3C; }
.has-error .form-control {
    color: #E74C3C;
    border: 2px solid #E74C3C;
    border-radius: 6px;
    box-shadow: none;
}
/* Bootstrap */

/*JQuery UI*/
.ui-slider .ui-slider-range { background: #5CB85C; }
.ui-slider .ui-slider-handle { border-color: #4CAE4C; }
/*JQuery UI*/

.bloque { padding: 30px; }
.bloque-chico { padding: 5px; /*5px 30px 5px 30px;*/ }

.bloque h2, .bloque-chico h2 { font-size: 30px; }
.bloque h3, .bloque-chico h3  { font-size: 25px; }
.bloque p, .bloque-chico p  { font-size: 18px; }

.icon-grande{ font-size: 5em; }

.color {
    color: #FFF;
    background: #36414E no-repeat center 50%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
    h1, h2, h3 { margin-top: 0; margin-bottom: 5px; }
    .bloque, .bloque-chico  { padding: 5px; }
    .bloque h1, .bloque-chico h1 { font-size: 30px; }
    .bloque h2, .bloque-chico h2  { font-size: 25px; }
    .bloque h3, .bloque-chico h3  { font-size: 20px; }
    .bloque p, .bloque-chico p { font-size: 15px; margin-bottom: 5px; }
    .bloque .elemento, .bloque-chico .elemento{ margin-bottom: 10px; }
}

/*busqueda*/
input#salida { width: 55%; display: inline; }

.destino {
    background-image: url(/images/destinos/colombia1024x250.jpg);
    background-size: cover;
    -ms-behavior: url(/backgroundsize.min.htc)
}

.twitter-typeahead { width: 100%; }

.tt-dropdown-menu {
    color: #428BCA;
    background: none repeat scroll 0 0 #FFF;
    border: 2px solid #66AFE9;
    border-radius: 6px;
    width: 100%;
    text-shadow: none;
    font-size: 10px;
}
/*busqueda*/

/*nav-sidebar*/
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #FFF;
    background-color: #428BCA;
}
/*nav-sidebar*/

/* Pasajes */
li.pasaje { padding-bottom: 5px; padding-top: 5px; border-bottom: 1px solid #DAE0E3; }
/* Pasajes */

/* menu_orden */
#menu_orden [class^="icon-"]:before, #menu_orden[class*=" icon-"]:before { margin-left: 0;}

#menu_orden .btn { padding-left: 0; padding-right: 0; }

#menu_orden.affix{ top: 0; z-index: 100; padding-right: 15px;}
#filtro.affix{ top: 0; z-index: 100; ; padding-right: 10px;}
ul.before-affix { padding-top: 44px; }

@media (min-width: 768px) { #menu_orden.affix{ width: 75%; } }
@media (min-width: 992px) { #menu_orden.affix{ width: 58.3333%; } }
@media (max-width: 767px) { #menu_orden.affix{ padding-right: 20px; } }
@media (max-width: 1199px) { #filtro.affix{ width: 25%; } }
@media (min-width: 1200px) { #filtro.affix{ width: 16.6667%; } }
/* menu_orden */


/* SinPasajes */
.icon-alert { font-size: 40px; }
/* SinPasajes */


/* ASIENTOS */
#asientos {
    float: left;
    padding: 7px 10px 10px 20px;
    background: url('/images/asientos/delantera.png') no-repeat scroll 0 0 #ECECEC;
    background-size: auto 100%;
}

#asientos .seccion {
    clear: none;
    width: 33px;
    float: left;
}

#asientos .pasillo, #asientos .disponible, #asientos .seleccionado, #asientos .ocupado {
    float: left;
    height: 30px;
    width: 30px;
    margin-left: 3px;
    margin-top: 3px;
}

#asientos .disponible, #asientos .seleccionado, #asientos .ocupado {
    color: #FFF;
    background: none repeat scroll 0 0 #D0D0D0;
    border: none;
    font-size: 19px;
    text-align: center;
}

#asientos .disponible {
    background-color: #449D44;
}

#asientos .seleccionado {
    background-color: #F0AD4E;
}

#asientos .ocupado {
    background-color: #D0D0D0;
    color: #F3F3F3;
}

@media (max-width: 519px) {
    #asientos{
        background: url('/images/asientos/delantera-hrz.png') no-repeat scroll 0 0 #ECECEC;
        background-size: 100% auto;
        padding-top: 20px;
        padding-left: 7px;
    }
    #asientos .seccion {
        width: auto;
        clear: both;
    }
}
/* ASIENTOS */


/* spinner */
.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
}
/* spinner */